# Core dependencies
numpy>=1.24.3
torch>=2.0.1

# Optional dependencies
[langchain]
langchain>=0.0.180

[llamaindex]
llama-index>=0.5.6

[pinecone]
pinecone-client>=2.2.1

[weaviate]
weaviate-client>=3.2.0

[milvus]
milvus>=2.2.12

[qdrant]
qdrant-client>=0.10.0

[sqlite]
sqlalchemy>=1.4.46

[metadata]
sentence-transformers>=2.2.2
rank-bm25>=0.2.2

[redis]
redis>=4.5.4
aioredis>=2.0.1

[gcs]
google-cloud-storage>=2.4.0

[openai]
openai>=0.27.0

[huggingface]
transformers>=4.30.2
